[data-pie-id] > *:nth-child(7n+1), [data-bar-id] > *:nth-child(7n+1), [data-line-id] > *:nth-child(7n+1) {
  color: #3fe0b6; }
[data-pie-id] > *:nth-child(7n+2), [data-bar-id] > *:nth-child(7n+2), [data-line-id] > *:nth-child(7n+2) {
  color: #ddc82f; }
[data-pie-id] > *:nth-child(7n+3), [data-bar-id] > *:nth-child(7n+3), [data-line-id] > *:nth-child(7n+3) {
  color: #98dee5; }

#pie, #donut, #bar {
  max-height: 450px; }

.tooltip {
  margin-left: -5px;
  border-radius: 3px;
  padding: 5px; }

ul[data-pie-id] {
  display: none; /* Hide the data for now */
  list-style: none;
  padding: 10px; }