/* Chartholdr Color Palette */
/* Courtesy of Ian Stirton */
$cold-grape: #1a063b;
$bubble-blue: #1976d2;
$captains-chair: #3c6e8a;
$submarine: #ddc82f;
$giant-kelp: #3fe0b6;
$squidward: #f4f4f4;
$dolphin-fart: #98dee5;
$randy-newman: #ffffff;