    
<nav class="top-bar" data-topbar>
	<ul class="title-area">
		<li class="name">              
			<h1><a href="#">Chartholdr</a></h1>
		</li>
		<li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
	</ul>

	<section class="top-bar-section">

		<ul class="right">
			<li><a href="#">Give it a go</a></li>
			<li><a href="#">Bar</a></li>
			<li><a href="#">Line</a></li>
			<li><a href="#">Pie</a></li>
			<li><a href="#">Customization</a></li>
			<li><a href="#">Credit</a></li>
			<li><a href="#">Contribute</a></li>
		</ul>
	</section>
</nav>


<header>
	<div class="row">
		<div class="small-12 text-center columns">

			<div class="text-center panel">
				<h2>Chartholdr</h2>
				<h3>An image placeholder service for charts and graphs.</h3>
			</div>
			
		</div>
	</div>
</header>

<div class="row">
	<div class="panel callout radius">
		<h5>Put your image size and chart type into the URL:</h5>
		<p><h4 class="links"><a href="http://Chartholdr.io/600/400/bar">http://Chartholdr.io/600/400/bar</a></h4></p>
	</div>
</div>

<br>
<div class="row">
	<div class="large-12 columns">
		<h2>Charts</h2>
	</div>
	<div class="medium-4 text-center columns">
		<img src="http://placehold.it/250x250&text=[bar]">
		<h4>Bar</h4>
		<form>
			<input type="text" value="http://Chartholdr.io/250/bar">
		</form>
		<p>Bar graphs can be used to compare information between different groups</p>
	</div>
	<div class="medium-4 text-center column">
		<img src="http://placehold.it/250x250&text=[line]">
		<h4>Line</h4>
		<form>
			<input type="text" value="http://Chartholdr.io/250/line">
		</form>
		<p>Line graphs can be used to track changes over time.</p>
	</div>
	<div class="medium-4 text-center column">
		<img src="http://placehold.it/250x250&text=[pie]">
		<h4>Pie</h4>
		<form>
			<input type="text" value="http://Chartholdr.io/250/pie">
		</form>
		<p>Pie charts can be used to compare parts of a whole.</p>
	</div>
</div>

<br>

<div class="row">
	<div class="large-12 columns">
		<h2>Customization</h2>
	</div>
</div>
<div class="row">
	<div class="medium-8 columns">
		<h3>Color</h3>
		<p>To choose the color of your chart, simply add the css color value to the end of the URL:</p>
		<p><h5 class="links"><a href="http://Chartholdr.io/600/400/bar">http://Chartholdr.io/600/400/bar/#ccc</a></h4></p>
		<p>CSS color variables are also supported.</p>
		<p><h5 class="links"><a href="http://Chartholdr.io/600/400/bar">http://Chartholdr.io/600/400/bar/lightgray</a></h4></p>
		<p>Be sure to ommit spaces.</p>
	</div>
	<div class="medium-4 large-4 columns text-center">
		<img src="http://placehold.it/300x300"><br><br>
		<p class="links"><a href="http://Chartholdr.io/600/400/bar">http://Chartholdr.io/600/400/bar/lightgray</a></p>
	</div>
</div>

<br>

<div class="row">
	<div class="medium-8 columns">
		<h3>Content</h3>
		<p>The default Chartholdr images are generated with data taken from Ocean Temperature Anomaly data from <a href="http://www.ncdc.noaa.gov">http://ncdc.noaa.gov</a>. You can specify a .json or html file for Chartholdr to crawl and populate the charts.</p>
	</div>
	<div class="medium-4 large-4 columns text-center">
		<img src="http://placehold.it/300x300"><br><br>
		<p class="links"><a href="http://Chartholdr.io/600/400/bar">http://Chartholdr.io/600/400/bar/lightgray</a></p>
	</div>
</div>



<hr>

<div class="row">
	<div class="large-12 columns">
		<h2>Customization</h2>
	</div>
</div>
<div class="row">
	<div class="medium-4 large-4 columns text-center">
		<img src="http://placehold.it/300x250&text=[things]">
		<p class="text-left">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate dicta hic ut suscipit molestias numquam ab unde nulla repellendus incidunt, magnam reiciendis odio, dolorum labore asperiores odit assumenda ex delectus.</p>
	</div>
	<div class="medium-4 large-4 columns text-center">
		<img src="http://placehold.it/300x250&text=[things]">
		<p class="text-left">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate dicta hic ut suscipit molestias numquam ab unde nulla repellendus incidunt, magnam reiciendis odio, dolorum labore asperiores odit assumenda ex delectus.</p>
	</div>
	<div class="medium-4 large-4 columns text-center">
		<img src="http://placehold.it/300x250&text=[things]">
		<p class="text-left">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate dicta hic ut suscipit molestias numquam ab unde nulla repellendus incidunt, magnam reiciendis odio, dolorum labore asperiores odit assumenda ex delectus.</p>
	</div>
</div>

<div class="panel">
	<div class="row">
		<div class="medium-6 large-6 columns">© Copyright no one at all. Go to town.</div>
		<div class="medium-6 large-6 columns">
			<ul class="inline-list right">
				<li><a href="#">link</a></li>
				<li><a href="#">link</a></li>
				<li><a href="#">link</a></li>
				<li><a href="#">link</a></li>
			</ul>
		</div>
	</div>
</div>