<!-- <nav class="top-bar" data-topbar>
	<ul class="title-area">
		<li class="name">              
			<h1><a href="#">Chartholdr</a></h1>
		</li>
		<li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
	</ul>
</nav> -->

<header>
	<div class="row">
		<div class="title small-12 medium-6 text-center columns">
			<h1 class="test">Chartholdr</h1>
			<h2>An image placeholder for charts and graphs.</h2>			
		</div>
		<div class="small-12 medium-6 text-center columns">
			<img src="/pie/450" alt="pie" width=450 height=450>
		</div>
	</div>

	<div class="row">
		<h3>Give it a go</h3>
		<p><h4 class="links"><a href="http://Chartholdr.io/pie/450">http://Chartholdr.io/pie/450</a></h4></p>
	</div>
</header>

<div class="deepwater">
	<br><br><br><br>
	<div class="row">
		<h4>Chartholdr hosts generic charts so you can prototype your websites with appropriate images.</h4>
	</div>

	<section id="bar">
		<div class="row">
			<div class="small-12 columns text-center">
				<h3>Bar</h3>
				<img src="/bar/600/400" alt="bar">
				<br><br>
				<p><h4 class="links"><a href="http://Chartholdr.io/bar/600/400">http://Chartholdr.io/bar/600/400</a></h4></p>
			</div>
		</div>
	</section>

	<section id="line">
		<div class="row">
			<div class="small-12 medium-6 columns text-center">
				<h3>Line</h3>
				<img src="/line/450/300" alt="line">
			</div>
			<!-- ANGLER FISH -->
			<div class="small-12 medium-6 columns text-center hide-for-small-only">
				<br><br>
				<img src="http://placehold.it/200x200" alt="line">
			</div>
			<div class="small-12 columns text-center">
				<br><br>
				<p><h4 class="links"><a href="http://Chartholdr.io/line/450/300">http://Chartholdr.io/line/450/300</a></h4></p>
			</div>
		</div>
	</section>

	<section id="pie">
		<div class="row">
			<!-- SUBMARINE -->
			<div class="small-12 medium-6 columns text-center hide-for-small-only">
				<br><br><br><br>
				<img src="http://placehold.it/300x200" alt="line">
			</div>
			<div class="small-12 medium-6 columns text-center">
				<h3>Pie</h3>
				<img src="/pie/600" alt="pie">
			</div>
			<div class="small-12 columns text-center">
				<br><br>
				<p><h4 class="links"><a href="http://Chartholdr.io/pie/600">http://Chartholdr.io/pie/600</a></h4></p>
			</div>
		</div>
	</section>

	<section id="customization">
		<div class="row">
			<div class="small-12 columns">
				<h2>Customization</h2>
			</div>
		</div>
		<div class="row">
			<div class="small-12 columns">
				<h3>Color</h4>
				<h4>To choose the base color for your chart, simply add the color parameter to the url:</h4>
				<div class="medium-9 columns">
					<br>
					<p><h4 class="links"><a href="http://Chartholdr.io/bar/300/150">http://Chartholdr.io/bar/300/150/D3D3D3</a></h4>
				</div>
				<div class="medium-3 columns">
					<br>
					<img src="/bar/300/150" alt="bar">
				</div>
				<div class="medium-9 columns">
					<br>
					<h4>You can even use CSS color variables.</h4>

					<p><h4 class="links"><a href="http://Chartholdr.io/bar/300/150">http://Chartholdr.io/bar/300/150/lightgray</a></h4>
					<h4><small>*Be sure to ommit spaces in variable names</small></h4></p>
				</div>
				<div class="medium-3 columns">
					<br><br>
					<img src="/bar/300/150" alt="bar">
				</div>
			</div>
		</div>
		<br><br>
		<div class="row">
			<div class="small-12 columns">
				<div class="medium-6 columns">
					<h3>Inline SVG</h4>
					<h4>SVGs are smaller in size than the default PNG images.</h4>
					<h4><small>Not all browsers support inline SVGs. Check <a href="http://caniuse.com/#feat=svg-html5">CanIUse</a> for current support information.</small></h4>
				</div>
				<div class="medium-6 columns">
					<img src="/bar/800/400" alt="line">
				</div>
			</div>
		</div>
	</section>

	<section>
		<div class="row">
			<div class="medium-6 columns">
				<h2>Help keep out servers running</h2>
				<p>Chartholdr.io is a completely free placeholder image service built by a small team. We could use your help to keep it fast and free.</p>
				<a href="#" class="button large">Donate</a>
			</div>
			<div class="medium-6 columns">
				<h2>Contribute</h2>
				<p>Chartholdr is open source and available to Fork on GitHub.</p>
				<a href="#" class="button large">Github</a>
			</div>
		</div>

	</section>
</div>
