<header>
	<div class="row">
		<div class="title small-12 medium-6 text-center columns">
			<h1 class="test">Chartholdr</h1>
			<h2>An image placeholder for charts and graphs.</h2>			
		</div>
		<div class="small-12 medium-6 text-center columns">
			<img src="/pie/450" alt="pie" width=450 height=450>
		</div>
	</div>

	<div class="row">
		<h3>Give it a go</h3>
		<span>
		<h4><textarea class="links" rows="3" id="titletxtarea" onClick="SelectAll('titletxtarea');">http://Chartholdr.io/pie/450</textarea></h4>
		</span>
	</div>
</header>

<div class="deepwater">
	<section id="marketing">
		<div class="row">
			<div class="small-12 columns text-center">
				<h4>Chartholdr hosts generic charts so you can prototype websites with appropriate images.</h4>
				<br>
			</div>
		</div>
		<img class="sea-character" id="jellys1" src="/png/jellys1.png" alt="Jellyfish.">
		<img class="sea-character" id="jellys2" src="/png/jellys2.png" alt="More jellyfish.">
	</section>

	<section id="bar">
		<div class="row">
			<div class="small-12 columns text-center">
				<h3>Bar</h3>
				<img src="/bar/600/400" alt="bar">
				<br><br>
				<span>
					<h4><textarea class="links" rows="3" id="bartext" onClick="SelectAll('bartext');">http://Chartholdr.io/bar/600/400</textarea></h4>
				</span>
			</div>
		</div>
	</section>

	<section id="line">
		<div class="row">
			<div class="small-12 columns text-center">
				<h3>Line</h3>
				<img src="/line/450/300" alt="line">
			</div>
			<div class="small-12 columns text-center">
				<br>
				<span>
					<h4><textarea class="links" rows="3" id="linetext" onClick="SelectAll('linetext');">http://Chartholdr.io/line/450/300</textarea></h4>
				</span>
			</div>
		</div>
		<img class="sea-character" id="submarine" src="/png/submarine.png" alt="Submarine searching for Randy Newman.">
	</section>
	<br>
	<section id="pie">
		<div class="row">
			<!-- SUBMARINE -->
			<div class="small-12 columns text-center">
				<h3>Pie</h3>
				<img src="/pie/500" alt="pie">
			</div>
			<div class="small-12 columns text-center">
				<span>
					<h4><textarea class="links" rows="3" id="pietext" onClick="SelectAll('pietext');">http://Chartholdr.io/pie/500</textarea></h4>
				</span>
			</div>
		</div>
	</section>

	<section id="customization">
		<div class="row">
			<div class="small-12 columns">
				<h2>Customization</h2>
			</div>
		</div>
		<div class="row">
			<div class="small-12 columns">
				<h3>Color</h4>
					<div class="row">
						<div class="small-12 columns">
						<div class="small-3 medium-2 columns">
							<img src="/pie/100/c=f44336" alt="bar">
						</div>
						<div class="small-3 medium-2 columns">
							<img src="/pie/100/c=FF9800" alt="bar">
						</div>
						<div class="small-3 medium-2 columns">
							<img src="/pie/100/c=FFEB3B" alt="bar">
						</div>
						<div class="small-3 medium-2 columns">
							<img src="/pie/100/c=4CAF50" alt="bar">
						</div>
						<div class="small-3 medium-2 columns hide-for-small-only">
							<img src="/pie/100/c=2196F3" alt="bar">
						</div>
						<div class="small-3 medium-2 columns hide-for-small-only">
							<img src="/pie/100/c=9C27B0" alt="bar">
						</div>
					</div>
				</div>
				<h4>To choose the base color for your chart, simply add the color parameter to the url:</h4>
				<div class="small-12 columns">
					<br>
					<span>
						<h4><textarea class="links" rows="3" id="colortext" onClick="SelectAll('colortext');">http://Chartholdr.io/pie/100/c=f44336</textarea></h4>
					</span>
				</div>
			</div>
		</div>
		<img id="anglerfish" class="sea-character" src="/png/anglerfish.png" alt="A scary angler fish.">
	</section>
	<span class="hide-for-small-only"><br><br><br></span>
	<section>
		<div class="row">
			<div class="medium-6 columns">
				<h2>Help keep our servers running</h2>
				<p>Chartholdr.io is a completely free placeholder image service built by a small team. We could use your help to keep it fast and free.</p>
				<a href="#" class="button large">Donate</a>
			</div>
			<div class="medium-6 columns">
				<h2>Contribute</h2>
				<p>Chartholdr is open source and available to Fork on GitHub.</p>
				<a href="https://github.com/NoahHines/Chartholdr" class="button"><i class="button-icon">&#xe802;</i>Github</a>
			</div>
		</div>
	</section>
</div>