<!-- <nav class="top-bar" data-topbar>
	<ul class="title-area">
		<li class="name">              
			<h1><a href="#">Chartholdr</a></h1>
		</li>
		<li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
	</ul>
</nav> -->

<header>
	<div class="row">
		<div class="title small-12 medium-6 text-center columns">
			<h1 class="test">Chartholdr</h1>
			<h2>An image placeholder for charts and graphs.</h2>			
		</div>
		<div class="small-12 medium-6 text-center columns">
			<img src="http://localhost:3000/pie/500/500" alt="pie">
		</div>
	</div>

	<div class="row">
		<h3>Give it a go</h3>
		<p><h4 class="links"><a href="http://Chartholdr.io/pie/500/500">http://Chartholdr.io/pie/500/500</a></h4></p>
	</div>
</header>

<div class="deepwater">

	<section id="bar">
		<div class="row">
			<div class="small-12 columns text-center">
				<h4>Chartholdr hosts generic charts so you can prototype your web designs with appropriate images.</h4>
				<h3>Bar</h3>
				<img src="http://placehold.it/600x400" alt="pie">
				<div class="row">
					<p><h4 class="links"><a href="http://Chartholdr.io/bar/600/400">http://Chartholdr.io/bar/600/400</a></h4></p>
				</div>
			</div>
		</div>
	</section>

	<section id="line">
		<div class="row">
			<div class="small-12 columns text-center">
				<h4>Chartholdr hosts generic charts so you can prototype your web designs with appropriate images.</h4>
				<h3>Line</h3>
				<img src="http://placehold.it/600x400" alt="line">
				<div class="row">
					<p><h4 class="links"><a href="http://Chartholdr.io/line/600/400">http://Chartholdr.io/line/600/400</a></h4></p>
				</div>
			</div>
		</div>
	</section>

	<section id="pie">
		<div class="row">
			<div class="small-12 columns text-center">
				<h4>Chartholdr hosts generic charts so you can prototype your web designs with appropriate images.</h4>
				<h3>Pie</h3>
				<img src="http://placehold.it/600x400" alt="line">
				<div class="row">
					<p><h4 class="links"><a href="http://Chartholdr.io/pie/600/400">http://Chartholdr.io/pie/500/500</a></h4></p>
				</div>
			</div>
		</div>
	</section>
</div>

<footer>
	<div class="row">
		<div class="small-12 columns text-center">
			<p>
				<h5>Built by <a href="http://brainstormtrust.com">BrainStorm Trust</a></h5>
			</p>
		</div>
	</div>
</footer>
