<header>
	<div class="row">
		<div class="title small-12 medium-6 text-center columns">
			<h1 class="test">Chartholdr</h1>
			<h2>An image placeholder for charts and graphs.</h2>			
		</div>
		<div class="small-12 medium-6 text-center columns">
			<img src="http://Chartholdr.io/pie/500" alt="pie">
		</div>
	</div>
	<div class="row">
		<h3>Give it a go</h3>
		<span>
			<h4><textarea class="links" rows="3" id="hometext" onClick="SelectAll('hometext');">http://Chartholdr.io/pie/500</textarea></h4>
		</span>
	</div>
	<br><br>
</header>