
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.2/d3.min.js" charset="utf-8"></script>

    

    <style>
        text {
            font: 12px sans-serif;
        }
        svg {
            display: block;
            float: left;
            height: <%= @height %>px;
            width: <%= @width %>px;
        }
        html, body {
            margin: 0px;
            padding: 0px;
            height: 100%;
            width: 100%;
        }
    </style>
</head>
<body>

<svg id="test1"></svg>

<script>

    var testdata = [
        {key: "2010", y: 0.55},
        {key: "2011", y: 0.37},
        {key: "2012", y: 0.35},
        {key: "2013", y: 0.41},
        {key: "2014", y: 0.46},
        {key: "2015", y: 0.54}
    ];

    var width = <%= @width %>;
    var height = <%= @height %>;

    nv.addGraph(function() {
        var chart = nv.models.pie()
                .width(width)
                .height(height);

        d3.select("#test1")
                .datum([testdata])
                .transition().duration(1200)
                .attr('width', width)
                .attr('height', height)
                .call(chart);

        return chart;
    });

</script>
</body>
</html>